
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>@ViewBag.Fuck</p>
    <p>@ViewBag.Bitch</p>
    @Html.ActionLink( "Rsvp Now" , "RsvpForm" ) <!--<a href="http://localhost:60342/Home/RsvpForm">Rsvp Now</a>-->
</body>
</html>
